.header {
  font-size: 18pt;
  margin-bottom: 1.5rem;
  color: rgba(0, 71, 117, 1);
}

.subHeader {
  font-size: 14pt;
  margin-bottom: 1.5rem;
  color: rgba(0, 71, 117, 1);
}

.address {
  font-size: 14pt;
  color: rgba(62, 62, 62, 1);
}